@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

:root {
    --primary: rgb(255, 230, 0);
    --primary-tr: rgb(255, 230, 0, 0.3);
    --letter-color: white;
    --letter: 'Raleway', sans-serif;
}

body,
html {
    height: 100%;
    background: url(./src/home__background.png) no-repeat right top fixed;
    background-size: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: var(--letter-color);
    font-family: var(--letter);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.418);
    padding: 1.5%;
    position: fixed;
    width: 100%;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 0% 4% 0% 4%;
}

.logo {
    margin-left: 10%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-right: 5%;
}

.text_gap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.text_box {
    align-items: flex-start;
    margin-bottom: -10%;
    width: 50%;
    margin: 15% 10% 0% 
}

.is_now {
    display: flex;
    flex-direction: row;
    margin-top: -20%;
}

.subtitle {
    margin-top: -5%;
    margin-bottom: 15%;
    width: 80%;
}

h1 {
    margin-right: 3%;
    font-weight: 200;
    font-size: 600%;
}

.now {
    font-weight: 400;
}

.news {
    margin-left: 10%;
}

.submit_section {
    display: flex;
    flex-direction: row;
}

.enter_mail_text {
    font-size: smaller;
}

.submit {
    height: 40px;
    width: 170px;
    background-color: #024959;
    border-radius: 10px;
}

